﻿@using Microsoft.AspNetCore.Mvc.Localization
@model  List<Transaction>
@inject IViewLocalizer Localizer
<table class="table">
    <tr>
        <td>@Localizer["SenderTd"]</td>
        <td>@Localizer["RecepientTd"]</td>
        <td>@Localizer["AmountTd"]</td>
        <td>@Localizer["DateTd"]</td>
    </tr>
    @foreach (var transation in Model)
    {
        <tr>
            <td>@transation.Sender.UserName</td>
            <td>@transation.Recepient.UserName</td>
            <td>@transation.Amount</td>
            <td>@transation.TransactionDate</td>
        </tr>
    }
    
</table>
