﻿@model MoneyTransfer.ViewModels.MoneyTransactionViewModel
<h2>Перевод средств</h2>
<form method="post" asp-controller="Transaction" asp-action="MoneyTransaction">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="RecipientAccount"></label><br />
        <input asp-for="RecipientAccount" />
        <span asp-validation-for="RecipientAccount"></span>
    </div>
    <div>
        <label asp-for="Amount"></label><br />
        <input asp-for="Amount" />
        <span asp-validation-for="Amount"></span>
    </div>
    <div>
        <input type="submit" value="Перевести" />
    </div>
</form>