﻿@using Microsoft.AspNetCore.Mvc.Localization
@model User
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
<h2>@Localizer["AccountHeader"] @Model.UserName</h2>
<h3>@Localizer["BalanceHeader"] @Model.Balance</h3>
<a class="btn btn-default" asp-action="MoneyTransaction" asp-controller="Transaction">@Localizer["TransactionLink"]</a>

